<h1>
    {{title}}
</h1>
<p-growl [value]="msgs"></p-growl>
<p>
    <input type="text" pInputText placeholder="Введите Ваш email" [(ngModel)]="email"/>
</p>
<p-fileUpload name="fileuploadbundle_files[file]" url="http://file-upload.app/files/newAjax" maxFileSize="104857600"
              chooseLabel="Выбрать файл" uploadLabel="Загрузить" cancelLabel="Отмена" (onUpload)="onUpload($event)"
              (onBeforeUpload)="onBeforeUpload($event)" (onError)="onError($event)">
</p-fileUpload>
<p>
    <input type="text" pInputText placeholder="Введите комментарий" [(ngModel)]="note"/>
</p>
